extend basic

block content
	div#panel
	//- div#username(style="display: none;")
	//- 	h1 Please enter user name!
	//- 	div.inputbox.fancybox
	//- 		input(type='text' placeholder='username')
	//- 		div.submit Submit
